# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
*.bak

# MacOS
.DS_Store

# CatBoost cache
catboost_info/

# Outputs
submission.csv
